#blog-showcase {
    background: #333 url('../images/blog.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
}
.primary-section {
    background-color:  #C06E52;
}