:root {
    --primary-color: #C06E52;
    --dark-color: #333;
    --white-color: #FFF;
}

#blog-showcase {
    background: #333 url('../images/blog.jpeg') no-repeat center center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
}

#bank-showcase {
    background: #333 url('../images/bank.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
    margin-top: 93px;
}

.primary-section {
    background-color:  #C06E52;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: .75rem;
    line-height: 1.1;
}

.faq-items {
    margin-top: 2rem;
}

.faq-item {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: var(--white-color) 1px solid ;
}

.faq-item h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.faq-item p {
    font-size: 1rem;
}

.faq-items {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.gpay-showcase {
    background: #333 url('../images/upi-image.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
}

.about-us{
    background: #333 url('../images/upi-image.jpg') no-repeat center center;
    background-size: cover;
    color: #FFF;
    height: 100vh;
}

.article-section {
    position: relative;
    margin: 30px auto;
    margin-top: 130px;
    padding: 50px;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.article-section::after,
.article-section::before {
    content: ' ';
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    box-shadow: inherit;
    z-index: -1;
    transform: rotate(2deg);
}

.article-section::before {
    transform: rotate(-1deg);
}

.article-section p>a:link,
.article-section p>a:visited {
    color: var(--primary-color);
}

.primary-body {
    background-color: var(--primary-color);
}

/*CHAT BOT*/
h1 {
    color: #C06E52;
    text-align: center;
}

#chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#chat-messages div {
    margin: 5px 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #C06E52;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #974c3a;
}